.block {
	$breakpoint: $phone;
	$start-width: $max-width;
	$end-width: $phone;
	$type-value: 1;
	$center: 1;
	$grid: 1;
	$button: 1;

	@include adaptive-value(
		"padding-top",
		120,
		30,
		$start-width,
		$end-width,
		$type-value
	);
	@include adaptive-value(
		"padding-bottom",
		120,
		30,
		$start-width,
		$end-width,
		$type-value
	);

	// .block__container
	&__container {
		@if $grid == 1 {
			display: grid;
			gap: rem(30);
		}

		@if $center == 1 and $grid == 1 {
			justify-items: center;
		}
	}

	// .block__title
	&__title {
		max-width: rem(500);

		@if $grid == 0 {
			&:not(:last-child) {
				margin-bottom: rem(30);
			}
		}

		@if $center == 1 and $grid == 0 {
			margin: 0 auto;
		}
	}

	// .block__cards
	&__cards {
		@include grid-cards(fit, rem(290), 1fr, $breakpoint) {
			justify-items: center;
			gap: rem(30);
		}

		@media (min-width: em($breakpoint)) {
			@if $center == 1 and $grid == 1 {
				width: 100%;
			}
		}

		@if $grid == 0 {
			&:not(:last-child) {
				margin-bottom: rem(30);
			}
		}
	}

	@if $button == 1 {
		// .block__button
		&__button {
			@media (min-width: em($breakpoint)) {
				@if $center == 1 and $grid == 0 {
					display: flex;
					margin: 0 auto;
					width: fit-content;
				}

				@if $center == 0 {
					width: fit-content;
				}
			}
		}
	}
}
