.block {
	display: flex;
	gap: rem(20);

	// align-items: center;

	// .block__img
	// &__img {
	//     $size: 40;

	//     @include wh(rem($size), rem($size));

	//     display: flex;
	//     flex: 0 0 rem($size);
	//     align-items: center;
	//     justify-content: center;
	//     border-radius: 50%;
	//     background-color: $color-gray;

	//     svg {
	//         $size-svg: 20;

	//         @include wh(rem($size-svg), rem($size-svg));

	//         fill: $color-light;
	//     }
	// }

	// .block__icon
	&__icon {
		$size: 40;

		@include wh(rem($size), rem($size));

		flex: 0 0 rem($size);
		fill: $color-gray;
	}

	// .block__image-ibg
	// &__image-ibg {
	//     $size: 40;

	//     @include wh(rem($size), rem($size));

	//     flex: 0 0 rem($size);
	//     background-color: $color-gray;
	// }

	// .block__body
	// &__body {
	// }

	// .block__title
	&__title {
		$font-size: 18;
		$font-type: 1;

		line-height: math.div(20, $font-size);
		color: $color-dark;

		&:not(:last-child) {
			margin-bottom: rem(10);
		}

		@if $font-type == 1 {
			@include adaptive-value("font-size", $font-size, 16);
		} @else {
			font-size: rem($font-size);
		}
	}

	// .block__text
	&__text {
		$font-size: 18;
		$font-type: 1;

		line-height: math.div(20, $font-size);
		color: $color-dark;

		p {
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
		}

		@if $font-type == 1 {
			@include adaptive-value("font-size", $font-size, 16);
		} @else {
			font-size: rem($font-size);
		}
	}
}
