.title {
    text-align: center;

    // .title__main
    &__main {
        $fontSize: 30;
        $fontType: 1;

        line-height: math.div(20, $fontSize);
        color: $colorDark;

        &:not(:last-child) {
            margin-bottom: rem(20);
        }

        @if $fontType == 1 {
            @include adaptiveValue("font-size", $fontSize, 18, 3, $maxWidth, $minWidth);
        } @else {
            font-size: rem($fontSize);
        }
    }

    // .title__text
    &__text {
        $fontSize: 20;
        $fontType: 1;

        line-height: math.div(20, $fontSize);
        color: $colorDark;

        @if $fontType == 1 {
            @include adaptiveValue("font-size", $fontSize, 16, 3, $maxWidth, $minWidth);
        } @else {
            font-size: rem($fontSize);
        }
    }
}
