/* Background image using css */
[class*="-ibg"] {
  position: relative;

  img {
    @include widthHeight(100%, 100%);

    position: absolute;
    inset: 0;
    object-fit: cover;
  }
}

@if $ibgContain == 1 {
  /* Background image using css (contain) */
  [class*="-ibg--contain"] {
    img {
      object-fit: contain;
    }
  }
}
