{
	"extends": [
		"eslint:recommended",
		"prettier"
	],
	"plugins": [
		"prettier"
	],
	"env": {
		"browser": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"rules": {
		"prettier/prettier": "error",
		"array-callback-return": "error",
		"array-bracket-spacing": [
			"error",
			"never"
		],
		// "array-bracket-newline": [
		// 	"error",
		// 	{
		// 		"multiline": true,
		// 		"minItems": 3
		// 	}
		// ],
		"arrow-body-style": [
			"error",
			"as-needed"
		],
		// "class-methods-use-this": "error",
		// "consistent-return": "error",
		// "capitalized-comments": [
		// 	"error",
		// 	"always"
		// ],
		"curly": "error",
		"default-case": "error",
		"dot-notation": "error",
		// "eol-last": [
		// 	"error",
		// 	"never"
		// ],
		"eqeqeq": [
			"error",
			"always"
		],
		"func-name-matching": "error",
		"func-style": [
			"error",
			"declaration",
			{
				"allowArrowFunctions": true
			}
		],
		"grouped-accessor-pairs": "error",
		"generator-star-spacing": [
			"error",
			"both"
		],
		"lines-between-class-members": "error",
		"lines-around-comment": [
			"error",
			{
				"allowObjectStart": true,
				"allowArrayStart": true,
				"allowBlockStart": true,
				"beforeLineComment": true
			}
		],
		"max-statements-per-line": "error",
		// "multiline-comment-style": [
		// 	"error",
		// 	"starred-block"
		// ],
		// "max-lines": [
		// 	"error",
		// 	{
		// 		"max": 100,
		// 		"skipBlankLines": true,
		// 		"skipComments": true
		// 	}
		// ],
		// "max-lines-per-function": [
		// 	"error",
		// 	{
		// 		"skipBlankLines": true,
		// 		"skipComments": true,
		// 		"max": 10
		// 	}
		// ],
		"max-params": [
			"error",
			4
		],
		"no-unused-private-class-members": "error",
		"no-constant-binary-expression": "error",
		"no-new-native-nonconstructor": "error",
		"no-unmodified-loop-condition": "error",
		"no-template-curly-in-string": "error",
		"no-promise-executor-return": "error",
		"no-multiple-empty-lines": [
			"error",
			{
				"max": 1
			}
		],
		"no-constructor-return": "error",
		"no-array-constructor": "error",
		"no-duplicate-imports": "error",
		"no-unreachable-loop": [
			"error",
			{
				"ignore": [
					"ForInStatement",
					"ForOfStatement"
				]
			}
		],
		// "no-use-before-define": [
		// 	"error",
		// 	{
		// 		"classes": false
		// 	}
		// ],
		"no-confusing-arrow": "error",
		// "no-empty-function": "error",
		"no-await-in-loop": "error",
		"no-self-compare": "error",
		"no-invalid-this": "error",
		"no-extra-bind": "error",
		// "no-alert": "error",
		"no-console": "error",
		"no-bitwise": "error",
		"no-eq-null": "error",
		"no-eval": "error",
		"new-cap": "error",
		// "object-curly-newline": [
		// 	"error",
		// 	{
		// 		"minProperties": 3,
		// 		"multiline": true
		// 	}
		// ],
		// "operator-linebreak": [
		// 	"error",
		// 	"before"
		// ],
		"prefer-exponentiation-operator": "error",
		"padding-line-between-statements": [
			"error",
			{
				"blankLine": "always",
				"prev": [
					"const"
				],
				"next": "*"
			},
			{
				"blankLine": "any",
				"prev": [
					"const"
				],
				"next": [
					"const"
				]
			},
			{
				"blankLine": "always",
				"prev": [
					"let"
				],
				"next": "*"
			},
			{
				"blankLine": "any",
				"prev": [
					"let"
				],
				"next": [
					"let"
				]
			},
			{
				"blankLine": "always",
				"prev": [
					"function"
				],
				"next": "*"
			},
			{
				"blankLine": "always",
				"prev": [
					"if"
				],
				"next": "*"
			}
		],
		"padded-blocks": [
			"error",
			"never"
		],
		"prefer-const": "error",
		"require-atomic-updates": "error",
		"spaced-comment": [
			"error",
			"always",
			{
				"line": {
					"markers": [
						"/"
					]
				},
				"block": {
					"markers": [
						"!"
					],
					"exceptions": [
						"*"
					],
					"balanced": true
				}
			}
		]
	}
}