{
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": "*.scss",
			"options": {
				"singleQuote": false
			}
		}
	],
	"quoteProps": "as-needed",
	"singleQuote": true,
	"semi": false,
	"trailingComma": "none"
}