@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/base/placeholders" as *;

.breadcrumbs {
	&__list {
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
	}

	&__item {
		display: flex;

		&:not(:last-child) {
			&::after {
				content: "/";
				margin-inline: rem(5);
			}
		}
	}

	&__link {
		white-space: nowrap;
		color: var(--color-gray);
	}
}
