.breadcrumbs {
	white-space: nowrap;

	&__list {
		display: flex;
		gap: rem(7);
		overflow-x: auto;
		overflow-y: hidden;
	}

	&__item {
		display: flex;

		&:not(:last-child) {
			&::after {
				content: "/";
				margin-left: rem(7);
			}
		}
	}

	&__link {
		color: $color-gray;
		transition: all 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
			}
		}
	}

	&__current {
	}
}
