@use "@scss/abstracts" as *;
@use "@scss/base" as *;

.map {
	@include width-height(rem(100), rem(100));

	position: absolute;
	inset: 50%;
	border: rem(10) solid var(--color-light);
	border-top-color: var(--color-dark-gray);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	animation: spin 2s linear infinite;

	@keyframes spin {
		0% {
			transform: translate(-50%, -50%) rotate(0deg);
		}

		100% {
			transform: translate(-50%, -50%) rotate(360deg);
		}
	}
}
