@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/base/placeholders" as *;

/* Marquee styles */
[role="marquee"] {
	$font-size: 18;

	font-size: rem($font-size);
	line-height: div(20, $font-size);
	white-space: nowrap;
	color: var(--color-light);
}
