@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

body {
	&::after {
		/* Overlay styles for popup */
		@include pseudo("", fixed);

		inset: 0;
		z-index: 149;
		background-color: rgba(0 0 0 / 0.5);
		opacity: 0;
		transition: opacity 0.8s;
		pointer-events: none;
	}
}

.popup-show {
	body {
		&::after {
			opacity: 1;
		}
	}
}

.popup {
	position: fixed;
	inset: 0;
	padding: rem(30) rem(div($container-padding, 2));
	visibility: hidden;
	transition: visibility 0.8s;
	pointer-events: none;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}

	&__content {
		border-radius: rem(20);
		padding: rem(20);
		width: min(rem(900));
		background-color: var(--accent);
		visibility: hidden;
		transform: scale(0);
		transition:
			transform 0.3s,
			visibility 0.3s;

		.lock & {
			visibility: visible;
		}
	}

	&--show {
		z-index: 150;
		overflow: auto;
		visibility: visible;
		pointer-events: auto;

		.popup__content {
			visibility: visible;
			transform: scale(1);
		}
	}
}
