@use "@scss/abstracts" as *;

/* Styles for scrollbar */
* {
	&::-webkit-scrollbar {
		width: rem(10);
		height: rem(10);
		background-color: var(--color-light);
	}

	&::-webkit-scrollbar-track {
		border-radius: rem(5);
		background-color: var(--color-gray);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: rem(5);
		background-color: var(--color-dark);

		@include media-hover {
			background-color: var(--color-dark);
		}
	}
}
