/* Styles for scrollbar */
* {
  &::-webkit-scrollbar {
    @include widthHeight(rem(10), rem(10));

    background-color: $colorLight;
  }

  &::-webkit-scrollbar-track {
    border-radius: rem(5);
    background-color: $colorGray;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: rem(5);
    background-color: $colorDark;

    @include mediaHover {
      background-color: $colorDark;
    }
  }
}
