[data-showmore] {
  display: grid;
  gap: rem(10);
}

[data-showmore-button] {
  span {
    &:last-child {
      display: none;
    }

    .showmore-active & {
      display: none;

      &:last-child {
        display: block;
      }
    }
  }
}
