@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

[data-showmore] {
	display: grid;
	gap: rem(10);
}

[data-showmore-content] {
	&[aria-expanded="true"] {
		+ [data-showmore-button] {
			span {
				display: none;

				&:last-child {
					display: block;
				}
			}
		}
	}
}

[data-showmore-button] {
	span {
		&:last-child {
			display: none;
		}
	}
}
