@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/base/placeholders" as *;

[data-showmore] {
	display: grid;
	gap: rem(10);
}

[data-showmore-button] {
	span {
		&:last-child {
			display: none;
		}

		.showmore-active & {
			display: none;

			&:last-child {
				display: block;
			}
		}
	}
}
