@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

.spoilers {
	display: grid;
	gap: rem(15);
}

.spoiler {
	&__trigger {
		position: relative;
		border: rem(1) solid var(--accent);
		border-radius: rem(5);
		padding: rem(10) rem(15);
		text-align: left;
		cursor: default;

		.spoiler-init & {
			cursor: pointer;

			&::before,
			&::after {
				@include pseudo;

				right: rem(10);
				top: 50%;
				width: rem(15);
				height: rem(2);
				background-color: var(--primary);
				transition: transform 0.5s;
			}

			&::before {
				transform: translate(-75%, -50%) rotate(40deg);
			}

			&::after {
				transform: translate(0, -50%) rotate(-40deg);
			}

			&.spoiler-active {
				&::before {
					transform: translateX(-75%) rotate(-40deg);
				}

				&::after {
					transform: rotate(40deg);
				}
			}
		}
	}

	&__body {
		border: rem(1) solid var(--accent);
		padding: rem(20);
	}
}
