@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/base" as *;

.spollers {
	display: grid;
	gap: rem(15);
}

.spoller {
	&__title {
		position: relative;
		border: rem(1) solid var(--color-gray);
		border-radius: rem(5);
		padding: rem(10) rem(15);
		width: 100%;
		text-align: left;
		cursor: default;

		.spoller-init & {
			cursor: pointer;

			&::before,
			&::after {
				@include pseudo;
				@include width-height(rem(15), rem(2));

				right: rem(10);
				top: 50%;
				background-color: var(--color-dark);
				transition: transform 0.5s;
			}

			&::before {
				transform: translate(-75%, -50%) rotate(40deg);
			}

			&::after {
				transform: translate(0, -50%) rotate(-40deg);
			}

			&.spoller-active {
				&::before {
					transform: translateX(-75%) rotate(-40deg);
				}

				&::after {
					transform: rotate(40deg);
				}
			}
		}
	}

	&__body {
		border: rem(1) solid var(--color-gray);
		padding: rem(20);
	}
}
