@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

.tabs {
	&__triggers {
		display: flex;
	}

	&__trigger {
		border: rem(1) solid var(--accent);
		padding: rem(10) rem(15);

		&.trigger-active {
			border: rem(1) solid var(--primary);
		}
	}

	&__panels {
		padding: rem(10) rem(15);
	}
}
