/* Color scheme */
.theme-change {
    @include wh(rem(30), rem(30));

    transition: background-color 0.6s ease;
}

.dark {
    .page {
        color: $color-light;
        background-color: $color-dark-gray;
    }

    .theme-change {
        background: url("@content/icons/sprite.svg#sun") 0 0 no-repeat;
    }
}

.light {
    .page {
        color: $color-dark-gray;
        background-color: $color-light;
    }

    .theme-change {
        background: url("@content/icons/sprite.svg#moon") 0 0 no-repeat;
    }
}

.reset-theme {
    $font-size: 18;

    @include wh(rem(15), rem(15));

    border-radius: 50%;
    font-size: rem($font-size);
    color: $color-light;
    background-color: $color-dark;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &::before {
        content: "X";
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }
}
