/* Looks for all classes in which there is a (__container), sets padding and centers. */
@if $container-type == 1 {
	[class*="__container"] {
		@if $max-width-container > 0 {
			max-width: rem($container-width);
			margin-inline: auto;
		}

		@if $container-padding > 0 {
			@if $max-width-container > 0 {
				padding: 0 rem(math.div($container-padding, 2));
			} @else {
				@include adaptive-value("padding-left", math.div($container-padding, 2), 15);
				@include adaptive-value(
					"padding-right",
					math.div($container-padding, 2),
					15
				);
			}
		}
	}
} @else {
	[class*="__container"] {
		margin-inline: auto;

		@if $max-width-container > 0 {
			max-width: rem($container-width);
		} @else {
			@if $container-padding > 0 {
				padding: 0 rem(math.div($container-padding, 2));
			}
		}

		@media (max-width: diff($desktop)) {
			max-width: rem(970);
		}

		@media (max-width: diff($laptop)) {
			max-width: rem(750);
		}

		@media (max-width: diff($tablet)) {
			max-width: none;

			@if $container-padding > 0 and $max-width-container > 0 {
				padding: 0 rem(math.div($container-padding, 2));
			}
		}
	}
}
