@use "sass:math" as *;
@use "@scss/abstracts" as *;

.container {
	@if $max-width-container > 0 {
		margin-inline: auto;
		max-width: rem($container-width);
	}

	@if $container-padding > 0 {
		@if $max-width-container > 0 {
			padding-inline: rem(div($container-padding, 2));
		} @else {
			@include adaptive-value("padding-inline", div($container-padding, 2), 15);
		}
	}
}
