@use "sass:math" as *;
@use "@scss/abstracts" as *;

.container {
	@if $max-width-container > 0 {
		margin-inline: auto;
		max-width: rem($container-width);
	}

	@if $container-padding > 0 {
		@if $max-width-container > 0 {
			padding: 0 rem(div($container-padding, 2));
		} @else {
			@include adaptive-value("padding-left", div($container-padding, 2), 15);
			@include adaptive-value("padding-right", div($container-padding, 2), 15);
		}
	}
}
