.page {
	font-family: $main-font-family;
	font-weight: $main-font-weight;
	font-size: rem($main-font-size);
	color: $main-font-color;

	.lock & {
		overflow: hidden;
		touch-action: none;

		/* Prevents chain scrolling */
		overscroll-behavior: none;
	}

	@if $background-gradient == 1 {
		background: $main-background-color;

		/* If the background is a gradient, then this property helps to stretch the gradinet to its full height */
		background-attachment: fixed;
	} @else {
		background-color: $main-background-color;
	}
}
