@use "sass:math" as *;
@use "@scss/abstracts" as *;

/* Placeholders styles */
%video-background {
	/* Background video using css */
	position: relative;
	overflow: hidden;

	iframe,
	object,
	video,
	embed {
		position: absolute;
		inset: 0;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

%list-counter {
	$type: item;

	/* Counter for lists */
	counter-reset: $type;

	li {
		position: relative;

		&::before {
			@include pseudo(counter($type));

			counter-increment: $type;
			inset: 0;
		}
	}
}

%fullscreen {
	min-height: 100vh;

	.touch & {
		/* The (--vh) variable is used by the fullVHfix function */
		min-height: calc(var(--vh, 1vh) * 100);

		@include media-max($tablet) {
			transition: min-height 0.3s;
		}
	}
}

%gray-filter {
	/* Gray filter */
	filter: grayscale(1);
	transition: filter 0.3s;

	@include media-hover {
		filter: grayscale(0);
	}
}

%hide-scroll {
	&::-webkit-scrollbar {
		display: none;
	}
}

%touch {
	/* Set momentum-based scrolling, where the content continues to scroll for a while after finishing the scroll gesture */
	-webkit-overflow-scrolling: touch;
}

%mirror {
	/* Mirror effect */
	transform: scale(-1, 1);
}

%select-none {
	user-select: none;
}
