.wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;

	/* With value overflow: clip;, position: sticky; works correctly */
	overflow: clip;
	min-height: 100vh;

	.lock & {
		overflow: hidden;
		touch-action: none;

		/* Prevents chain scrolling */
		overscroll-behavior: none;
	}

	@if $slider-fix == 1 {
		> * {
			/* Fixes swiper.js bug */
			min-width: 0;
		}
	}

	@if $background-gradient == 1 {
		background: var(--background-color);

		/* If the background is a gradient, then this property helps to stretch the gradinet to its full height */
		background-attachment: fixed;
	} @else {
		background-color: var(--background-color);
	}
}
