- const production = self.htmlWebpackPlugin.options.production

block variables
	- let pageTitle
	- let pageMod
	- let fullPage
	- let preloader

doctype html
html(lang='ru')
	head
		title=pageTitle
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='format-detection' content='telephone=no')
		if production
			link(rel='stylesheet' href='css/style.min.css')
		block styles
		link(rel='icon' href='favicon.ico')
	body
		.wrapper
			include header
			main(class=['page', pageMod] data-fp=fullPage)
				block pageContent
			include footer

		if preloader
			include ../components/preloader
		block popups
		block scripts
		script(src='js/app.min.js')
