/* Line effect */
.hover {
	@include media-min($tablet) {
		@include width-height(100%, 100%);

		position: absolute;
		inset: 0;
		z-index: 2;
		overflow: hidden;
		background-color: $color-gray;
		will-change: transform;

		&__text {
			display: block;
			padding: rem(20) rem(30);
			color: $color-light;
			will-change: transform;
		}
	}
}
