/* Common styles for all svg icons */
.icon {
    @include width-height(rem(20), rem(20));

    fill: none;
    stroke: $color-gray;
    transition: stroke 0.3s;

    @media (any-hover: hover) {
        &:hover {
            stroke: $color-gray;
        }
    }
}
