/* Common styles for all svg icons */
.icon {
    @include widthHeight(rem(20), rem(20));

    fill: none;
    stroke: $colorGray;
    transition: stroke 0.3s;

    @include mediaHover {
        stroke: $colorGray;
    }
}
