@use "sass:math" as *;
@use "@scss/abstracts" as *;

%responsive-video {
	position: relative;
	overflow: hidden;

	iframe,
	object,
	video,
	embed {
		position: absolute;
		inset: 0;
		height: 100%;
		object-fit: cover;
	}
}

%video-background {
	position: relative;

	iframe,
	object,
	video,
	embed {
		position: absolute;
		inset: 0;
		min-width: 100%;
		min-height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

%responsive-image {
	/* Background image using css */
	position: relative;
	overflow: hidden;

	img {
		position: absolute;
		inset: 0;
		height: 100%;
		object-fit: cover;
	}
}

%list-counter {
	counter-reset: item;

	li {
		position: relative;

		&::before {
			@include pseudo(counter(item));

			counter-increment: item;
			inset: 0;
		}
	}
}

%full-screen {
	min-height: 100vh;

	.touch & {
		/* The (--vh) variable is used by the fullVHfix function */
		min-height: calc(var(--vh, 1vh) * 100);

		@include media-max($tablet) {
			transition: min-height 0.3s;
		}
	}
}

%gray-filter {
	filter: grayscale(1);
	transition: filter 0.3s;

	@include media-hover {
		filter: grayscale(0);
	}
}

%hide-scroll {
	&::-webkit-scrollbar {
		display: none;
	}
}

%touch {
	/* Pulse-based scrolling https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling */
	-webkit-overflow-scrolling: touch;
}

%mirror {
	/* Mirror effect */
	transform: scale(-1, 1);
}

%select-none {
	/* Prevents the user from selecting text */
	user-select: none;
}
