* {
	&,
	&::before,
	&::after {
		margin: 0;
		border: 0;
		padding: 0;
		box-sizing: border-box;
		-webkit-tap-highlight-color: transparent;
	}
}

html,
body {
	height: 100%;
	min-width: $minWidth + px;
}

body {
	scroll-behavior: smooth;
	line-height: 1;
	text-rendering: optimizelegibility;
	text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

@if $selection == 1 {
	::selection {
		color: $colorLight;

		/* Changes the default text selection styles */
		background-color: $colorDarkGray;
	}
}

input {
	&[type="search"],
	&[type="email"],
	&[type="text"],
	&[type="tel"] {
		appearance: none;
	}
}

textarea,
select,
button,
input {
	font-family: $mainFontFamily;
	font-size: inherit;
	line-height: inherit;
}

textarea {
	resize: none;
}

button {
	color: inherit;
	background-color: transparent;

	@media (any-hover: hover) {
		cursor: pointer;
	}
}

:focus,
:active {
	@if $focusActiveOutline == 1 {
		outline: none;
	}
}

a {
	color: inherit;

	&:visited,
	&:link {
		text-decoration: none;
	}

	@include mediaHover {
		text-decoration: none;
	}
}

address {
	font-style: normal;
}

label {
	@media (any-hover: hover) {
		cursor: pointer;
	}
}

summary,
ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

video,
img,
svg,
legend {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: inherit;
	font-size: inherit;
}
