@use "@scss/abstracts" as *;

/* Reset styles */
*,
*::before,
*::after {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	min-width: $min-width + px;
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	line-height: 1;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	color: var(--text-color);
	background-color: var(--background-color);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

:focus,
:active {
	// outline: none;
}

/* Remove markers */
summary,
ul,
ol {
	list-style: none;
}

/* Make images and inputs easier to work with */
picture,
iframe,
input,
img,
svg {
	display: block;
	width: 100%;
}

/* Remove italic */
address {
	font-style: normal;
}

input[type="search"],
input[type="email"],
input[type="text"],
input[type="tel"] {
	appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
	user-select: none;
}

textarea,
select,
button,
input,
h1,
h2,
h3,
h4,
h5,
h6 {
	font: inherit;
}

textarea {
	resize: none;
}

button {
	background-color: transparent;
}

a {
	text-decoration: none;

	/* Removes the blue highlight when you click on the elements */
	-webkit-tap-highlight-color: transparent;
}

button,
a {
	color: inherit;
}

button,
label {
	@media (any-hover: hover) {
		/* Set the cursor pointer for the button and the label for devices with a mouse */
		cursor: pointer;
	}
}

@media (prefers-reduced-motion: reduce) {
	/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
	*,
	*::before,
	*::after {
		transition: none;
		animation: none;
		scroll-behavior: auto;
	}
}
