:root {
	--color-dark: #000;
	--color-dark-gray: #333;
	--color-gray: #888;
	--color-light: #fff;
	--color-yellow: #fe0;
	--background-color: var(--color-light);
	--text-color: var(--color-dark);
	--font-family: "";
	--font-size: 1rem;
	--font-weight: 400;
}
