:root {
	--primary: #000;
	--secondary: #fff;
	--accent: #333;
	--inverse: #fe0;
	--background-primary: var(--secondary);
	--text-primary: var(--primary);
	--font-family: "";
	--font-size: 1rem;
	--font-weight: 400;
}
