$maxWidthContainer: 0;
$containerPadding: 30;

// --------------------------------- //
$maxWidth: 1920;
$minWidth: 320;

// --------------------------------- //
$containerWidth: $maxWidthContainer + $containerPadding;
$desktop: $containerWidth;
$laptop: 992;
$tablet: 768;
$phone: 480;

// --------------------------------- //
$aFocusActiveOutline: 0;
$focusActiveOutline: 0;
$backgroundGradient: 0;
$ibgContain: 0;
$sliderFix: 0;
$selestion: 0;

// --------------------------------- //
$colorDark: #000;
$colorDarkGray: #333;
$colorGray: #888;
$colorLight: #fff;
$colorYellow: #fe0;
$mainBackgroundColor: $colorLight;
$mainFontColor: $colorDark;

// --------------------------------- //
$mainFontFamily: "";
$fontSecond: "";
$mainFontSize: 16;
$mainFontWeight: 400;
