@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/base/placeholders" as *;

.checkbox {
	position: relative;
	display: inline-flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: rem(10);
	cursor: pointer;

	&__text {
		$font-size: 18;

		font-size: rem($font-size);
		line-height: div(22, $font-size);
		color: var(--color-gray);
	}

	&__box {
		$size: 20;

		position: relative;
		flex: 0 0 rem($size);
		align-self: flex-start;
		border: rem(2) solid var(--color-gray);
		border-radius: rem(3);
		width: rem($size);
		height: rem($size);

		&::after {
			content: "";
			position: absolute;
			inset: rem(-2);
			border-radius: rem(3);
			width: rem(20);
			height: rem(20);
			background-color: var(--color-dark);
			transform: scale(0);
			transition: transform 0.3s;
		}

		svg {
			position: absolute;
			inset: rem(3);
			width: rem(10);
			height: rem(10);
			fill: var(--color-light);
			transform: scale(0);
		}
	}

	input {
		display: none;

		&:checked {
			+ .checkbox__box {
				&::after {
					transform: scale(1);
				}

				svg {
					transform: scale(1);
				}
			}
		}
	}

	@extend %select-none;
}
