@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/base/placeholders" as *;

.options {
	display: grid;
	justify-items: start;
	gap: rem(5);
}

.option {
	display: flex;
	flex-direction: row-reverse;
	gap: rem(10);

	&__text {
		$font-size: 18;

		font-size: rem($font-size);
		line-height: div(22, $font-size);
		color: var(--color-gray);
	}

	&__box {
		position: relative;
		flex: 0 0 rem(20);
		border: rem(1) solid var(--color-gray);
		border-radius: 50%;
		width: rem(20);
		height: rem(20);

		&::before {
			@include pseudo;

			inset: 50%;
			border-radius: 50%;
			width: rem(15);
			height: rem(15);
			background-color: var(--color-dark);
			transform: translate(-50%, -50%) scale(0);
			transition: transform 0.3s;
		}
	}

	input {
		display: none;

		&:checked {
			+ .option__box {
				&::before {
					transform: translate(-50%, -50%) scale(1);
				}
			}
		}
	}
}
