@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/base/placeholders" as *;

/* Range styles */
.noUi-target {
	position: relative;
	border: rem(1) solid #d3d3d3;
	border-radius: rem(30);
	background-color: #fafafa;

	&,
	* {
		box-sizing: border-box;

		@extend %select-none;
	}
}

.noUi-base,
.noUi-connects {
	width: 100%;
	height: 100%;
}

/* Wrapper for all connect elements. */
.noUi-connect,
.noUi-origin {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	transform-origin: 0 0;
	will-change: transform;
}

.noUi-connect {
	background-color: #add8e6;
}

.noUi-state-tap {
	.noUi-connect,
	.noUi-origin {
		transition: transform 0.3s;
	}
}

.noUi-handle {
	position: absolute;
	border: rem(1) solid #d9d9d9;
	border-radius: 50%;
	background-color: var(--color-light);
	backface-visibility: hidden;
	transition: background-color 0.1s;
	cursor: grab;
}

/* Handles and cursors */
.noUi-active {
	background-color: #d9d9d9;
	cursor: grabbing;
}

.noUi-tooltip {
	position: absolute;
	display: block;
	border: rem(1) solid #d9d9d9;
	border-radius: rem(3);
	padding: rem(5);
	white-space: nowrap;
	text-align: center;
	color: var(--color-dark);
	background-color: var(--color-light);
}

/* Slider size and handle placement */
.noUi-horizontal {
	height: rem(10);

	.noUi-handle {
		inset: rem(-3) rem(-7.5) 0 0;
		width: rem(15);
		height: rem(15);
	}

	.noUi-tooltip {
		left: 50%;
		bottom: 120%;
		transform: translateY(-50%);
	}
}
