<header class="header" data-lp>
    <div class="header__container">
        <!-- logo -->
        <a class="logo header__logo" href="index.html">
            <img src="@content/svg/logo.svg" alt="">
        </a>
        <!-- menu -->
        <div class="menu header__menu">
            <button class="icon-menu menu__icon" type="button" aria-label="Открыть меню">
                <span class="icon-menu__line"></span>
            </button>
            <nav class="menu__body">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#" data-goto="." aria-label="Ссылка для навигации по сайту"></a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#" data-goto="." aria-label="Ссылка для навигации по сайту"></a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#" data-goto="." aria-label="Ссылка для навигации по сайту"></a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#" data-goto="." aria-label="Ссылка для навигации по сайту"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>