<header class="header" data-lp>
	<div class="header__container">
		<!-- logo -->
		<a class="logo" href="index.html">
			<img src="@img/svg/logo.svg" alt="">
		</a>
		<!-- menu -->
		<div class="menu">
			<button class="icon-menu menu__icon" type="button" aria-label="Открыть меню">
				<span></span>
			</button>
			<nav class="menu__body">
				<ul class="menu__list">
					<li class="menu__item">
						<a class="menu__link" href="#" data-goto="." aria-label=""></a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#" data-goto="." aria-label=""></a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#" data-goto="." aria-label=""></a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#" data-goto="." aria-label=""></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
