.button {
	$icon: 0;
	$fw: 0;

	display: inline-flex;
	justify-content: center;
	padding: rem(10) rem(15);
	font-size: rem(16);
	line-height: math.div(20, 16);
	text-align: center;
	color: $color-dark;
	background-color: $color-light;
	transition: all 0.3s ease;

	&::before {
	}

	&::after {
	}

	&:link {
	}

	&:visited {
	}

	&:focus {
	}

	&:active {
		transform: translateY(rem(3));
	}

	&:disabled {
	}

	&--fw {
		@media (max-width: md($phone)) {
			width: 100%;
		}
	}

	@if $icon == 1 {
		span {
			padding: 0 rem(30) 0 0;
			background: url("@content") left no-repeat;
		}
	}

	@media (any-hover: hover) {
		&:hover {
		}
	}
}
