@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

.button {
	$font-size: 18;

	display: inline-flex;
	justify-content: center;
	padding: rem(10) rem(15);
	font-size: rem($font-size);
	line-height: div(20, $font-size);
	text-align: center;
	color: var(--primary);
	background-color: var(--secondary);
	transition: transform 0.3s, background-color 0.3s, color 0.3s;

	&:active {
		transform: translateY(rem(3));
	}

	&--full {
		@include media-max($phone) {
			width: 100%;
		}
	}

	@include media-hover {
		color: var(--primary);
		background-color: var(--secondary);
	}
}
