.checkbox {
    position: relative;

    &__label {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: rem(10);
        cursor: pointer;

        &::before {
            content: "";
            flex: 0 0 rem(20);
            align-self: flex-start;
            border: rem(1) solid $color-gray;
            border-radius: rem(5);
            width: rem(20);
            height: rem(20);
        }

        &::after {
            content: "";
            position: absolute;
            left: rem(2);
            top: rem(2);
            border-radius: rem(2);
            width: rem(16);
            height: rem(16);
            background-color: $color-dark;
            transform: scale(0);
            transition: transform 0.3s;
        }
    }

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:checked + .checkbox__label::after {
            transform: scale(1);
        }
    }

    &__text {
        $font-size: 18;

        font-size: rem($font-size);
        line-height: math.div(22, $font-size);
        color: $color-gray;
    }

    &:not(:last-child) {
        margin-bottom: em(5);
    }
}
