@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

.checkboxes {
	display: grid;
	gap: rem(5);
}

.checkbox {
	display: flex;
	flex-direction: row-reverse;
	gap: rem(10);
	width: max-content;

	&__text {
		$font-size: 18;

		font-size: rem($font-size);
		line-height: div(22, $font-size);
		color: var(--primary);
	}

	&__box {
		$size: 20;

		position: relative;
		flex: 0 0 rem($size);
		align-self: flex-start;
		border: rem(2) solid var(--accent;
		border-radius: rem(5);
		width: rem($size);
		height: rem($size);

		&::before {
			@include pseudo;

			inset: 0;
			border-radius: rem(3);
			width: rem(16);
			height: rem(16);
			background-color: var(--primary);
			transform: scale(0);
			transition: transform 0.3s;
		}

		svg {
			position: absolute;
			inset: rem(3);
			width: rem(10);
			height: rem(10);
			fill: var(--secondary);
			transform: scale(0);
		}
	}

	input {
		display: none;

		&:checked + .checkbox__box {
			&::before,
			svg {
				transform: scale(1);
			}
		}
	}
}
