@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

.input {
	border: rem(1) solid var(--accent);
	border-radius: rem(5);
	padding: rem(5);
	color: var(--accent);

	&:not([data-placeholder-unhidden]) {
		&::placeholder {
			transition: opacity 0.3s;
		}

		&:focus-visible {
			&::placeholder {
				opacity: 0;
			}
		}
	}
}
