.quantity {
    @include width-height(rem(88), rem(40));

    display: flex;
    border: rem(2) solid $color-dark;
    border-radius: rem(5);

    &__button {
        position: relative;
        flex: 0 0 rem(30);
        cursor: pointer;

        &::before,
        &::after {
            @include width-height(rem(10), rem(1));
            @include pseudo;

            left: 50%;
            top: 50%;
            margin: 0 0 0 rem(-4.5);
            border-radius: rem(1);
            background-color: $color-gray;
            transition: background-color 0.3s;
        }

        &--plus {
            &::before {
                transform: rotate(-90deg);
            }
        }

        @media (any-hover: hover) {
            &:hover {
                &::before,
                &::after {
                    background-color: $color-dark;
                }
            }
        }
    }

    &__input {
        flex: 1 1 auto;

        input {
            $font-size: 18;

            @include width-height(100%, 100%);

            font-weight: 700;
            font-size: rem($font-size);
            text-align: center;
            color: $color-dark;
        }
    }
}
