@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

.quantity {
	display: flex;
	border: rem(2) solid var(--primary);
	border-radius: rem(5);
	width: rem(90);
	height: rem(40);

	&__button {
		position: relative;
		flex: 0 0 rem(30);

		&::before,
		&::after {
			@include pseudo;

			inset: 50%;
			border-radius: rem(1);
			width: rem(10);
			height: rem(1);
			background-color: var(--primary);
			transform: translate(-50%, -50%);
			transition: background-color 0.3s;
		}

		&--plus {
			&::before {
				transform: translate(-50%, -50%) rotate(-90deg);
			}
		}
	}

	&__input {
		flex: 1;

		input {
			$font-size: 18;

			height: 100%;
			font-size: rem($font-size);
			text-align: center;
		}
	}
}
