@use "sass:math" as *;
@use "@scss/abstracts" as *;

.options {
	display: grid;
}

.option {
	$font-size: 18;
	$fix-size: 18;

	display: flex;
	align-items: center;
	gap: em(10, $fix-size);
	font-size: rem($font-size);
	line-height: div(22, $font-size);
	color: var(--primary);

	&__box {
		$size: 20;

		display: flex;
		flex: 0 0 em($size, $fix-size);
		align-items: center;
		justify-content: center;
		border: em(2, $fix-size) solid var(--accent);
		border-radius: 50%;
		height: em($size, $fix-size);
		background-color: var(--secondary);

		&::after {
			content: "";
			display: block;
			border-radius: 50%;
			width: em(14, $fix-size);
			height: em(14, $fix-size);
			background-color: var(--primary);
			transform: scale(0);
			transition: transform 0.3s;
		}
	}

	&__input {
		position: absolute;

		/* Checked */
		&:checked + .option__box {
			&::after {
				transform: scale(1);
			}
		}

		/* Focused */
		&:checked:focus-visible + .option__box {
			&::after {
				transform: scale(1);
			}
		}

		&:focus-visible + .option__box {
			&::after {
				transform: scale(1);
			}
		}

		/* Disabled */
		&:checked:disabled + .option__box {
			border-color: var(--disabled);

			&::after {
				background-color: var(--disabled);
			}
		}

		&:disabled + .option__box {
			border-color: var(--disabled);
		}
	}

	&:not(:last-child) {
		margin-bottom: em(5, $fix-size);
	}
}
