@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

.options {
	display: grid;
	gap: rem(5);
}

.option {
	display: flex;
	flex-direction: row-reverse;
	gap: rem(10);
	width: max-content;

	&__text {
		$font-size: 18;

		font-size: rem($font-size);
		line-height: div(22, $font-size);
		color: var(--primary);
	}

	&__box {
		$size: 20;

		position: relative;
		flex: 0 0 rem($size);
		border: rem(2) solid var(--accent;
		border-radius: 50%;
		width: rem($size);
		height: rem($size);

		&::before {
			@include pseudo;

			inset: 50%;
			border-radius: 50%;
			width: rem(13);
			height: rem(13);
			background-color: var(--primary);
			transform: translate(-50%, -50%) scale(0);
			transition: transform 0.3s;
		}
	}

	input {
		display: none;

		&:checked + .option__box {
			&::before {
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}
}
