@use "sass:math";

@import "@scss/base/functions";
@import "@scss/base/variables";
@import "@scss/base/mixins";

/* Range plugin */

.noUi-target {
	position: relative;
	border: rem(1) solid #d3d3d3;
	border-radius: rem(30);
	background-color: #fafafa;

	&,
	* {
		box-sizing: border-box;
		user-select: none;
	}
}

.noUi-base,
.noUi-connects {
	@include widthHeight(100%, 100%);
}

/* Wrapper for all connect elements. */
.noUi-connect,
.noUi-origin {
	@include widthHeight(100%, 100%);

	position: absolute;
	inset: 0;
	transform-origin: 0 0;
	will-change: transform;
}

.noUi-connect {
	background-color: #add8e6;
}

/* Give origins 0 height/width so they don't interfere with clicking the * connect elements. */
.noUi-state-tap {
	.noUi-connect,
	.noUi-origin {
		transition: transform 0.3s;
	}
}

/* Slider size and handle placement; */
.noUi-handle {
	position: absolute;
	border: rem(1) solid #d9d9d9;
	border-radius: 50%;
	background-color: $colorLight;
	backface-visibility: hidden;
	transition: background-color 0.1s;
	cursor: grab;
}

/* Styling; * Giving the connect element a border radius causes issues with using transform: scale */
.noUi-active {
	background-color: #d9d9d9;
	cursor: grabbing;
}

.noUi-tooltip {
	position: absolute;
	display: block;
	border: rem(1) solid #d9d9d9;
	border-radius: rem(3);
	padding: rem(5);
	white-space: nowrap;
	text-align: center;
	color: $colorDark;
	background-color: $colorLight;
}

.noUi-horizontal {
	height: rem(10);

	.noUi-handle {
		@include widthHeight(rem(15), rem(15));

		right: rem(-7.5);
		top: rem(-3);
	}

	.noUi-tooltip {
		left: 50%;
		bottom: 120%;
		transform: translate(-50%, 0);
	}
}
