@use "sass:math" as *;
@use "@scss/abstracts" as *;

.rating {
	$font-size: 18;

	display: flex;
	align-items: center;
	font-size: rem($font-size);
	line-height: 0.75;

	&__group {
		position: relative;

		&::before {
			content: "★★★★★";
			display: block;
		}
	}

	&__active {
		position: absolute;
		inset: 0;
		overflow: hidden;
		transition: width 0.2s;

		&::before {
			@include pseudo("★★★★★");

			inset: 0;
			color: var(--inverse);
		}
	}

	&__stars {
		position: absolute;
		inset: 0;
		display: flex;
	}

	&__star {
		flex: 0 0 20%;
		opacity: 0;
	}

	&__value {
		padding-left: rem(10);
		font-size: 50%;
		line-height: 1;
	}

	&--sending {
		opacity: 0.2;
	}

	&--set {
		.rating__active,
		.rating__star {
			cursor: pointer;
		}
	}
}
