@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

.select {
	min-width: 0;

	&__body {
		position: relative;
	}

	&__title {
		border: rem(1) solid var(--accent);
		border-radius: rem(5);
		width: 100%;
		text-align: left;
		background-color: var(--secondary);
		transition: border-radius 0.3s;

		.select-open & {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	&__value {
		display: flex;
		align-items: center;
		gap: rem(10);
		padding: 0 rem(12.5);
		height: rem(30);

		&::after {
			content: "";
			display: flex;
			flex: 0 0 rem(10);
			align-items: center;
			align-self: stretch;
			justify-content: center;
			transition: transform 0.3s;

			.select-open & {
				transform: rotate(-180deg);
			}
		}

		&.select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}

	&__content {
		flex: 1 1 auto;
	}

	&__text {
		flex: 1 1 auto;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__input {
		width: 100%;
		height: 100%;
		background-color: transparent;
	}

	&__options {
		position: absolute;
		left: 0;
		top: rem(31);
		border: rem(1) solid var(--accent);
		border-top: 0;
		border-radius: 0 0 rem(5) rem(5);
		padding: rem(5);
		min-width: 100%;
		color: var(--primary);
		background-color: var(--secondary);
	}

	&__scroll {
		overflow-x: hidden;
		overflow-y: auto;
		max-height: rem(200);

		// .simplebar-scrollbar {
		//     &::before {
		//         opacity: 1;
		//     }
		// }
	}

	&__option {
		border-radius: rem(5);
		padding: rem(5) rem(7.5);
		width: 100%;
		text-align: left;
		color: inherit;
		transition: background-color 0.3s, color 0.3s;

		// &.select-selected {
		// }

		@include media-hover {
			color: var(--secondary);
			background-color: var(--accent);
		}
	}

	// &__row {
	// }

	// &__asset {
	// }

	// &.select-open {
	// }

	&--show-top {
		.select__options {
			top: auto;
			bottom: calc(100% - rem(1));
			border: rem(1) solid #d9d9d9;
			border-bottom: 0;
			border-radius: 0 0 rem(5) rem(5);
			padding: rem(5) 0 rem(10) 0;
		}
	}

	// &.select-disabled {
	// }

	// &.select-active {
	// }

	// &.select-focus {
	// }

	// &.select-multiple {
	// }

	// &.select-checkbox {
	// }
}

.select-tag {
	cursor: pointer;
}
