$container-type: 1;

// --------------------------------- //
$container-padding: 30;

// --------------------------------- //
$max-width-container: 0;
$container-width: $max-width-container + $container-padding;
$max-width: 1920;
$min-width: 320;

// --------------------------------- //
$desktop: $container-width;
$laptop: 992;
$tablet: 768;
$phone: 480;

// --------------------------------- //
$focus-active-outline: 0;
$background-gradient: 0;
$slider-fix: 0;
$selection: 0;
