.block {
    $breakpoint: $phone;
    $startWidth: $maxWidth;
    $endWidth: $phone;
    $typeValue: 1;
    $bodyGrid: 1;
    $center: 1;
    $reverse: 0;

    @include adaptiveValue("padding-top", 120, 30, $startWidth, $endWidth, $typeValue);
    @include adaptiveValue("padding-bottom", 120, 30, $startWidth, $endWidth, $typeValue);

    // .block__container
    &__container {
        display: grid;
        gap: rem(20);

        @if $center == 1 {
            align-items: center;
        }

        @include mediaMin($breakpoint) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .block__body
    &__body {
        @if $reverse == 1 {
            order: 2;
        }

        @if $center == 0 {
            align-self: start;
        }

        @if $bodyGrid == 1 {
            display: grid;
            gap: rem(30);
        }

        @include mediaMin($breakpoint) {
            max-width: rem(500);
        }
    }

    // .block__title
    &__title {
        @if $bodyGrid == 0 {
            &:not(:last-child) {
                margin-bottom: rem(30);
            }
        }
    }

    // .block__text
    &__content {
        @if $bodyGrid == 0 {
            &:not(:last-child) {
                margin-bottom: rem(30);
            }
        }
    }

    // .block__button
    &__button {
        @if $bodyGrid == 1 {
            @include mediaMin($breakpoint) {
                width: fit-content;
            }
        }
    }

    // .block__image-ibg
    &__image-ibg {
        align-self: start;
        padding-bottom: percent(340, 500);
        background-color: $colorGray;
    }
}
