@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

.hamburger {
	@include media-min-max {
		position: relative;
		z-index: 5;
		display: block;
		width: rem(30);
		height: rem(20);

		span,
		&::before,
		&::after {
			@include pseudo;

			right: 0;
			width: 100%;
			height: rem(2);
			background-color: var(--color-dark);
			transition: transform 0.3s, width 0.3s, top 0.3s, bottom 0.3s;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(1));
		}

		&[aria-expanded="true"] {
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}

			span {
				width: 0;
			}
		}
	}
}
