@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

.menu {
	&__body {
		@include media-max($tablet) {
			position: fixed;
			left: -100%;
			top: 0;
			overflow: auto;
			padding: rem(80) 0 rem(30);
			width: 100%;
			height: 100%;
			background-color: var(--secondary);
			transition: left 0.3s;

			&::before {
				@include pseudo("", fixed);
				@include adaptive-value("height", 70, 40, 3, 768, $min-width);

				left: -100%;
				top: 0;
				width: 100%;
				background-color: var(--primary);
				transition: left 0.3s;
			}
		}
	}

	&__link {
		$font-size: 16;

		font-size: rem($font-size);
		line-height: div(20, $font-size);
		transition: color 0.3s;

		@include media-hover {
			color: var(--primary);
		}
	}

	&__list {
		display: flex;

		@include media-min($tablet) {
			flex-wrap: wrap;
			column-gap: rem(20);
			row-gap: rem(10);
		}

		@include media-max($tablet) {
			flex-direction: column;
			align-items: center;
			row-gap: rem(20);
		}
	}
}
