@use "sass:math" as *;
@use "@scss/abstracts" as *;
@use "@scss/base" as *;

.menu {
	&__body {
		@include media-max($tablet) {
			@include width-height(100%, 100%);

			position: fixed;
			left: -100%;
			top: 0;
			z-index: 4;
			overflow: auto;
			padding: rem(80) 0 rem(30);
			background-color: var(--color-light);
			transition: left 0.3s;

			&::before {
				@include pseudo("", fixed);
				@include width-height(100%, rem(70));

				left: -100%;
				top: 0;
				z-index: 4;
				background-color: var(--color-light);
				transition: left 0.3s;
			}

			.menu-open & {
				left: 0;

				&::before {
					left: 0;
				}
			}
		}
	}

	&__link {
		$font-size: 16;

		font-size: rem($font-size);
		line-height: div(20, $font-size);
		transition: color 0.3s;

		// для корректной работы line effect
		//     display: block;
		//     overflow: hidden;

		@include media-hover {
			color: var(--color-dark);
		}
	}

	&__list {
		display: flex;

		@include media-min($tablet) {
			flex-wrap: wrap;
			column-gap: rem(20);
			row-gap: rem(10);
		}

		@include media-max($tablet) {
			flex-direction: column;
			align-items: center;
			row-gap: rem(20);
		}
	}
}
