/* Burger menu icon */
.icon-menu {
	display: none;

	@media (max-width: md($tablet)) {
		@include wh(rem(30), rem(18));

		position: relative;
		z-index: 5;
		display: block;
		cursor: pointer;

		&__line,
		&::before,
		&::after {
			@include pseudo;
			@include wh(100%, rem(2));

			right: 0;
			background-color: $color-dark;
			transition: all 0.3s ease;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		&__line {
			top: calc(50% - rem(1));
		}

		.menu-open & {
			&::before,
			&::after {
			}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}

			&__line {
				width: 0;
			}
		}
	}
}
