@import "./burgerIcon";
@import "./menu";

// ======================================================================================================================================================== //
.header {
  @supports not (position: sticky) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
  }

  @supports (position: sticky) {
    position: sticky;
    top: 0;
  }
}
