/* Line effect */
.hover {
    @media (min-width: em($tablet)) {
        @include wh(100%, 100%);

        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        overflow: hidden;
        background-color: $color-gray;
        will-change: transform;

        &__text {
            display: block;
            padding: rem(20) rem(30);
            color: $color-light;
            will-change: transform;
        }
    }
}
