@use "@scss/abstracts" as *;
@use "@scss/base" as *;

.dark {
	body {
		color: var(--color-light);
		background-color: var(--color-dark-gray);
	}

	.theme-change {
		background: url("@img/icons/sprite.svg#sun") 0 0 no-repeat;
	}
}
