@use "@scss/abstracts" as *;
@use "@scss/base/placeholders" as *;

/* Light theme styles */
.light {
	body {
		color: var(--color-dark-gray);
		background-color: var(--color-light);
	}

	.theme-change {
		background: url("@img/icons/sprite.svg#moon") 0 0 no-repeat;
	}
}
