@use "@scss/abstracts" as *;
@use "@scss/utils/placeholders" as *;

/* Color scheme styles */
[role="switch"] {
	width: rem(30);
	height: rem(30);
	transition: background-color 0.6s;
}

/* Dark theme styles */
.dark {
	body {
		color: var(--secondary);
		background-color: var(--primary);
	}
}

/* Light theme styles */
.light {
	body {
		color: var(--primary);
		background-color: var(--secondary);
	}
}
