.card {
	display: grid;
	gap: rem(20);
	max-width: rem(300);

	// .card__image-ibg
	&__image-ibg {
		padding-bottom: percent(170, 300);
		background-color: $color-gray;
	}

	// .card__body
	&__body {
	}

	// .card__title
	&__title {
		$font-size: 18;

		font-size: rem($font-size);
		line-height: math.div(20, $font-size);
		transition: all 0.3s ease;
		cursor: pointer;

		a {
			display: inline-block;
			width: 100%;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $color-gray;
			}
		}
	}
}
