.block {
    $gap: 1;

    display: grid;
    justify-items: center;

    // .block__image-ibg
    // &__image-ibg {
    //     $size: 40;

    //     @include widthHeight(rem($size), rem($size));

    background-color: $colorGray;

    // .block__img
    // &__img {
    //     $size: 80;

    //     @include widthHeight(rem($size), rem($size));

    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     border-radius: 50%;
    //     background-color: $colorGray;

    //     svg {
    //         $sizeSvg: 40;

    //         @include widthHeight(rem($sizeSvg), rem($sizeSvg));

    //         fill: $colorLight;
    //     }
    // }

    // .block__icon
    &__icon {
        $size: 40;

        @include widthHeight(rem($size), rem($size));

        fill: $colorGray;

        @if $gap == 0 {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
    }

    //     &:not(:last-child) {
    //         margin-bottom: rem(20);
    //     }
    // }

    // .block__body
    &__body {
        text-align: center;
    }

    // .block__title
    &__title {
        $fontSize: 18;
        $fontType: 1;

        line-height: math.div(20, $fontSize);
        color: $colorDark;

        &:not(:last-child) {
            margin-bottom: rem(10);
        }

        @if $fontType == 1 {
            @include adaptiveValue("font-size", $fontSize, 16);
        } @else {
            font-size: rem($fontSize);
        }
    }

    // .block__text
    &__text {
        $fontSize: 18;
        $fontType: 1;

        line-height: math.div(20, $fontSize);
        color: $colorDark;

        p {
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }

        @if $fontType == 1 {
            @include adaptiveValue("font-size", $fontSize, 16);
        } @else {
            font-size: rem($fontSize);
        }
    }

    @if $gap == 1 {
        gap: rem(20);
    }
}
