header.header
	.container.header__container
		//- logo
		a.logo(href="index.html")
			img(src="@img/svg/logo.svg" alt="")
		//- menu
		.menu
			button.hamburger(type="button" aria-expanded="false")
				span
			nav.menu__body
				ul.menu__list
					li.menu__item
						a.menu__link(href="#")
