block header
  header(class="header" data-lp)
    .header__container
      //- logo
      a(class="logo" href="index.html")
        img(src="@img/svg/logo.svg" alt="")
      //- menu
      .menu
        button(class="burger-icon menu__icon" type="button")
          span
        nav.menu__body
          ul.menu__list
            li.menu__item
              a(class="menu__link" href="#")
            li.menu__item
              a(class="menu__link" href="#")
            li.menu__item
              a(class="menu__link" href="#")
            li.menu__item
              a(class="menu__link" href="#")
